spring:
  application:
    name: test-server

server:
  port: 8079

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    registerWithEureka: true
    fetchRegistry: true
    healthcheck:
      enabled: true
  instance: 
    leaseRenewalIntervalInSeconds: 10  # Sends heartbeat every 10 seconds
    leaseExpirationDurationInSeconds: 30  # Instance expires if no heartbeat for 30 seconds
    preferIpAddress: true

management:
  endpoints:
    web:
      exposure:
        include: info,health
  info:
    env:
      enabled: true

info:
  application:
    name: ${spring.application.name}
    description: '@project.description@'
    version: '@project.version@'
    spring-cloud-version: '@spring-cloud.version@'
    spring-boot-version: '@project.parent.version@'
  java:
    version: '@java.version@'
    vendor: '@java.vendor@'